#sky {
  position: relative;
  background-color: #2B81AF;
  overflow: hidden;
  margin: 0; 
  padding: 0;
  width: 800px;
  height: 600px;
}

.day #sky { 
  background-image: -moz-linear-gradient(100% 100% 90deg, #D5D7EF, #6DCFF6 10%, #2B81AF 70%);
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#D5D7EF), color-stop(10%, #6DCFF6), color-stop(70%, #2B81AF));
}

.night #sky {
  background-image: -moz-linear-gradient(100% 100% 90deg, #606379, #244451 9%, #000000 70%);
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#606379), color-stop(10%, #244451), color-stop(70%, #000000));
}

div.cloud.container {
  background-color: transparent;
  position: relative;
}

div.cloud.contents {
  background-color: #fff;
  position: relative;
  border-radius: 55px 30px 0 0;
  -moz-border-radius: 55px 30px 0 0;
  -webkit-border-top-left-radius: 55px;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-box-shadow: 7px 7px 11px #3C3C3C;
  -webkit-box-shadow: 7px 7px 11px #3C3C3C;
}

.day div.cloud.contents {
  background: -moz-radial-gradient(35px 15px, white 35%, lightGrey) repeat scroll 0 0 transparent;
  background: -webkit-gradient(radial, 6% 31%, 43, 29% 11%, 195.5, from(white), to(lightGrey));
}

.night div.cloud.contents {
  background: -moz-radial-gradient(35px 15px, darkGrey 35%, lightGrey) repeat scroll 0 0 transparent;
  background: -webkit-gradient(radial, 6% 31%, 43, 29% 11%, 195.5, from(white), to(lightGrey));
}

div.cloud.container.master {
  height: 200px;
  width: 400px;
  position: absolute !important;
  left: -2000px;
}

div.cloud.top {
  height: 76px;
  width: 65px;
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

div.cloud.mid {
  height: 50px;
  width: 75px;
}

div.cloud.bottom {
  height: 56px;
  width: 100px;
  -moz-border-radius: 55px 55px 25px 25px;
  border-radius: 55px 55px 25px 25px;
  -webkit-border-top-left-radius: 55px;
  -webkit-border-top-right-radius: 55px;
  -webkit-border-bottom-left-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-box-shadow: 7px 7px 11px #3c3c3c;
  -webkit-box-shadow: 7px 7px 11px #3c3c3c;
  box-shadow: 7px 7px 11px #3c3c3c;
}


/* CLOUD FRONT */
div.cloud.container.minor.front {
  height: 75px;
  width: 100px;
  top: 25px;
  left: 50px;
}

div.cloud.front.top {
  top: 8px;
  left: 45px;
}

div.cloud.front.bottom {
  top: -47px;
  left: 0px;
}

/* CLOUD MAIN */
div.cloud.container.minor.main {
  height: 100px;
  width: 200px;
  top: -75px;
  left: 127px;
}

div.cloud.main.top {
  top: 3px;
  left: 85px;
  width: 75px;
}

div.cloud.main.mid {
  left:35px;
  top:-52px;
  width:101px;
  -moz-border-radius: 55px 45px 0 0;
  border-radius: 45px 45px 0 0;
  -webkit-border-top-left-radius: 45px;
  -webkit-border-top-right-radius: 45px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}

div.cloud.main.bottom {
  left: 8px;
  top: -70px;
  width: 174px;
  z-index: 25;
}

div.cloud.body.mid {
  height: 38px;
  width: 320px;
  top: -95px;
  left: 25px;
  -moz-border-radius: 55px 55px 0 0;
  border-radius: 49px 49px 0 0;
  -webkit-border-top-left-radius: 49px;
  -webkit-border-top-right-radius: 49px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

div.cloud.body.bottom {
  height: 49px;
  width: 400px;
  top: -117px;
  left: 0px;
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  z-index: 30;
}

.day .cloud.body.bottom {
  background-image: -moz-linear-gradient(100% 100% 90deg, #3C3C3C, #C3C3C3 15%, #FFFFFF 40%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(#C3C3C3)), 
              -webkit-gradient(radial, 21% 43, 47, 20 20, 398.5, from(white), to(lightGrey));
}

.night .cloud.body.bottom {
  background-image: -moz-linear-gradient(100% 100% 90deg, #C3C3C3, #777 15%, #3c3c3 40%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(#C3C3C3)), 
              -webkit-gradient(radial, 21% 43, 47, 20 20, 398.5, from(lightGrey), to(darkGrey));
}
